@import 'demo_sprite.less';
@import 'mixin.less';

/* demo icons are from https://icons8.com/web-app/category/all/Very-Basic */

/* default function in gulp produced less file.
.sprites(@spritesheet-sprites);
*/

/* decide the width of icon size */ 
@icon-width: 30px;


[class^="icon-"] {
  display: inline-block;
  text-align: center;
  background-color: #ddd;
  width: @icon-width;
  height: @icon-width;
  background-image: url(@spritesheet-image);
  background-repeat: no-repeat;
}

.custom-sprites(@spritesheet-sprites, @icon-width);